.container{
    text-align: center;
    font-size: 1.5rem;
    align-content: center;
    height: 500px;
}
button{
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 20px;
}
p{
    color: grey;
}
h1{
    color:darkblue;
}
#result{
    color:green;
    font-size: 1.2rem;
    padding-top: 20px;
}

